
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
  margin-top: 80px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.titre {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 90px;
  gap: 10px;
  margin-right: 60px;
  margin-left: 20px;
}

.titre h1 {
  font-weight: 600;
  font-size: 2.5rem;
  overflow-wrap: break-word;
}

.titre h2 {
  font-weight: 400;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background: #260940;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  margin-top: 25px;
}

.btn-txt {
  z-index: 1;
  font-weight: 600;
  letter-spacing: 4px;
  background: #260940;
  color: rgb(255, 255, 255);
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 30px #ffffff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.icons a {
  list-style: none;
  margin: 10px;
}

.right {
  width: 50%;
  height: 100%;
  margin-bottom: 50px;
}

.right img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto; 
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 18px #ffffff;
  border-radius: 10px;
  margin-left: 80px;
  margin-bottom: 80px;
}

/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column; 
    height: auto; 
    align-items: center; 
  }

  .left, .titre {
    width: 100%; 
    text-align: center; 
    margin: 0; /
  }

  .titre {
    margin-top: 20px; 
  }

  .button {
    margin-top: 20px; 
  }

  .right {
    width: 100%; 
    text-align: center; 
  }

  .right img {
    display: none;
  }
}
