nav {
  display: flex;
  align-items: flex-start;
}
.logo {
  width: 90px;
  height: 90px;
  margin-left: 50px;
  margin-top: 15px;
  cursor: pointer;
}
nav p {
  margin-top: 40px;
  margin-left: 20px;
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-top: 40px;
}

.nom {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  font-size: 20px;
}
.link {
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.7px;
  position: relative;
  font-size: 1.25rem;
  margin-right: 27px;
  cursor: pointer;
  margin-bottom: 80px;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1.5px;
  background-color: #610bad;
  border-radius: 0.4rem;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

.link:hover::after {
  transform: scaleX(1);
}
